*{
    background-color: lightcyan;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

button {
    text-align: center;
    margin:auto;
    display: flex;
    justify-content: center;
    display: grid;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin:auto;
    display: flex;
    justify-content: center;
    display: grid;
}

body {
    margin-bottom: 20px;
}
