*{
    background-color: rgb(254, 213, 219);
}

.btn-primary {
    text-align: center;
    margin:auto;
    display: flex;
    justify-content: center;
    display: grid;
}

h1 {
    text-align: center;
    margin:auto;
    display: flex;
    justify-content: center;
    display: grid;
}

p {
    text-align: center;
    margin:auto;
    display: flex;
    justify-content: center;
    display: grid;
}

#image {
    max-width: 100%;
    max-height: 100%;
}

section {
    text-align: center;
    margin:auto;
    display: flex;
    justify-content: center;
    display: grid;
}
